.header {
  height: auto;
  background: #5b8c00;
  padding-left: 24px;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 38px; 
  line-height: 46px; 
  margin-bottom: 8px; 
  padding-top: 24px;
}

.subtitle {
  color: rgba(255, 255, 255, 0.65);
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 24px;
}

.menu {
  background: #5b8c00;
}

.content {
  padding: 24px 24px 0px;
}

.footer {
  text-align: center;
}