.header {
  height: 188px;
  background: #5b8c00;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 38px; 
  line-height: 46px; 
  margin-bottom: 12px; 
  padding-top: 24px;
}

.subtitle {
  color: rgba(255, 255, 255, 0.65);
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 32px;
}

.menu {
  background: #5b8c00;
}

.container {
  background: #ffffff;
  padding: 12px 24px;
  margin: 16px;
  min-height: 480px;
}